<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>GDL Logistica</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quantico:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="{{'assets/vendor/aos/aos.css' | theme }}" rel="stylesheet">
  <link href="{{'assets/vendor/bootstrap/css/bootstrap.min.css' | theme }}" rel="stylesheet">
  <link href="{{'assets/vendor/bootstrap-icons/bootstrap-icons.css' | theme }}" rel="stylesheet">
  <link href="{{'assets/vendor/boxicons/css/boxicons.min.css' | theme }}" rel="stylesheet">
  <link href="{{'assets/vendor/glightbox/css/glightbox.min.css' | theme }}" rel="stylesheet">
  <link href="{{'assets/vendor/remixicon/remixicon.css' | theme }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css">

  <!-- Template Main CSS File -->
  <link href="{{'assets/app.css' | theme }}" rel="stylesheet">
  <link href="{{'assets/css/style.css' | theme }}" rel="stylesheet">

</head>

<body>
  <header>
    {% partial 'shared/header' %}
  </header>
  <main>
    {% page %}
  </main>
  <footer>
    {% partial 'shared/footer' %}
  </footer>
  <!-- Vendor JS Files -->
  <script src="{{'assets/vendor/aos/aos.js' | theme }}"></script>
  <script src="{{'assets/vendor/jquery/jquery.min.js' | theme }}"></script>
  <script src="{{'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' | theme }}"></script>
  <script src="{{'assets/vendor/glightbox/js/glightbox.min.js' | theme }}"></script>
  <script src="{{'assets/vendor/isotope-layout/isotope.pkgd.min.js' | theme }}"></script>
  <script src="{{'assets/vendor/waypoints/noframework.waypoints.js' | theme }}"></script>
  <script src="{{'assets/vendor/php-email-form/validate.js' | theme }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>
  <!-- Template Main JS File -->
  <script src="{{'assets/js/main.js' | theme }}"></script>
  <script src="{{'assets/js/index.js' | theme }}"></script>
  <script src="{{'assets/js/dropdown.js' | theme }}"></script>
  <script src="{{'assets/js/modals.js' | theme }}"></script>
  {% scripts %}
</body>

</html>