<!-- Footer -->
<footer class="rodape">
    <!-- Button trigger modal -->
    <div class=".grid_footer1">
        <img src="{{ 'assets/img/logo_gdl_white.svg'|theme}}" alt="logo">
    </div>
    <div class=".grid_footer2" style=" grid-area: 1 / 2 / 3 / 3;">
        <div class="spaco100" style="height: 103px;"></div>
        <div class="text-white col">
            <div class="row">
                <div class="col-md-12">
                    <h3>&nbsp;</h3>
                </div>
                <div class="col-md-4">
                    <h4>A GDL</h4>
                    <p class="corlink">
                        <a href="/a-gdl#localizacao_estrategica">Localização
                            estratégica</a>
                    </p>
                    <h4>Armazém Alfandegado</h4>
                    <p class="corlink"><a
                            href="/armazem-alfandegado#servicos">Serviços</a>
                    </p>
                    <p class="corlink"><a href="/armazem-alfandegado#porto_seco">Dry
                            Port/CLIA</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>Centro de <br> Distribuição</h4>
                    <p class="corlink">
                        <a href="/centro-de-distribuicao#servicos">Serviços</a>
                    </p>
                    <p class="corlink">
                        <a href="/centro-de-distribuicao#servicos_conexos">Connected
                            services</a>
                    </p>
                    <h4>Automotivo</h4>
                    <p class="corlink"><a href="/automotivo#delivery">Pre-Delivery
                            Inspection (PDI)</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="corlink"><a href="/noticias"> Notícias </a></p>
                    <p class="corlink"><a href="/contato"> Contato </a>
                    </p>
                    <p class="corlink"><a href="/trabalhe-conosco">Trabalhe conosco</a>
                    </p>
                    <p class="corlink"><a href="/politicas">Políticas</a></p>
                    <p class="corlink"><a href="/downloads">Arquivos</a></p>
                </div>
            </div>
        </div>
        <p>
            <a target="new" href="https://pt.linkedin.com/company/gdlsolucaoemmovimento">
                <img src="{{ 'assets/img/in.png'|theme }}" class="img-fluid" alt="Logo linkedin">
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a target="new" href="https://www.facebook.com/gdlsolucaoemmovimento">
                <img src="{{ 'assets/img/gb.png'|theme }}" class="img-fluid" alt="Logo facebook">
            </a>&nbsp; &nbsp; &nbsp;
            <a target="new" href="https://www.youtube.com/channel/UCeEIEYm7d3HxfKI7c31VnzA">
                <img src="{{ 'assets/img/yt.png'|theme }}" class="img-fluid" alt="Logo youtube">
            </a>&nbsp; &nbsp; &nbsp;
            <a target="new" href="https://www.instagram.com/gdlsolucaoemmovimento/">
                <img src="{{ 'assets/img/im.png'|theme }}" class="img-fluid" alt="Logo instagram">
            </a>&nbsp;
        </p>
    </div>
    <div class=".grid_footer3">
        <div class="spaco50"></div>
        <div class="text-white col-md-auto">
            <h4>Contato</h4>
            <div class="row">
                <div class="col-sm-12 col-md-auto">
                    Unidade 01<br>
                    <p>Rod. Governador Mário Covas,<br>
                        882, Padre Mathias,<br>
                        Cariacica/ES - Brasil<br>
                        +55 27 2122 3200</p>
                </div>
                <div class="col-sm-12 col-md-auto">
                    Unidade 02<br>
                    <p>Rod. Governador Mário Covas,<br>
                        256 KM 280 Norte - Padre Mathias,<br>
                        Cariacica/ES - Brasil.<br>
                        +55 27 2121-2400</p>
                </div>
            </div>
            <a href="/contato" class="btn btn-primary btn-transp-bco float-md-right" style="width: 100%;">
                <i class="fa fa-map-marker" aria-hidden="true"></i> Localização
            </a>
        </div>
    </div>
</footer>
<div id="preloader"></div>
<a href="#" title="Ir ao topo" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
{% partial 'modals/modal-lr' %}
{% partial 'modals/modal-di' %}
{% partial 'modals/modal-sara' %}