    <!-- navegação principal -->
    <div class="navPrin">
        <a href="/"><img src="https://www.gdllogistica.com.br/img/gdl_logo.svg" class="logo"></a>
        <div class="nav_desktop">
            <div class="bar_options">

                <a href="/">Principal</a>
                <a href="/armazem-alfandegado">Armazém Alfandegado</a>
                <a href="/centro-de-distribuicao">Centro de Distribuição</a>
                <a href="/automotivo">Automotivo</a>
                <a id="saiba-mais" class="dropdown_init">Saiba mais</a>
                <a href="/politicas">LGPD</a>
            </div>
            <div class="dropdown_header">
                <a href="/noticias">Notícias</a>
                <a href="/a-gdl">A GDL</a>
                <a href="/contato">Contato</a>
                <a href="/trabalhe-conosco">Trabalhe conosco</a>
                <a href="/downloads">Arquivos</a>
            </div>
        </div>
        <div style="display: flex;">
            <div class="nav_mobile">
                <img src="https://www.gdllogistica.com.br/img/menu_mbl.svg" class="menu_mbl">
            </div>
            <button class="btn-DI d-sm-none d-lg-block" id="btn-DI">
                Envio de DI
            </button>
            <button class="btn-LR d-sm-none d-lg-block" id="btn-LR">
                Solicitação de Carregamento
            </button>
            <div class="btn-sara d-sm-none d-lg-flex mbl-hide">
                <a style="margin: auto; color:var(--color-orange); text-decoration: none;">Portal Aduaneiro</a>
            </div>
            <span class="idiomas">
                <li id="qtranslate-3" class="widget qtranxs_widget">
                    <ul class="language-chooser language-chooser-image qtranxs_language_chooser"
                        id="qtranslate-3-chooser">
                        <li class="lang-pb active">
                            <a href="/change-language/pt-br" hreflang="pb"
                                title="Português do Brasil (pb)" class="qtranxs_image qtranxs_image_pb">
                                <img src="https://www.gdllogistica.com.br/img/flag/br.png" alt="Português do Brasil (pb)" />
                                <span style="display:none">Português do Brasil</span>
                            </a>
                        </li>
                        <li class="lang-en">
                            <a href="/change-language/en" hreflang="en" title="English (en)"
                                class="qtranxs_image qtranxs_image_en">
                                <img src="https://www.gdllogistica.com.br/img/flag/gb.png" alt="English (en)">
                                <span style="display:none">English</span>
                            </a>
                        </li>
                    </ul>
                    <div class="qtranxs_widget_end"></div>
                </li>
            </span>
        </div>
    </div>
    <div class="navMbl desactivated">
        <a href="/">Principal</a>
        <details>
            <summary style=" font-size: 16px ;  margin-left: 12px; width: 94vw;
border-bottom: 2px solid rgba(156,86,20,.19215686274509805);">
                Saiba mais
            </summary>
            <div style="    display: flex;  flex-direction: column;">
                <a href="/noticias">Notícias</a>
                <a href="/a-gdl">A GDL</a>
                <a href="/contato">Contato</a>
                <a href="/trabalhe-conosco">Trabalhe conosco</a>
            </div>
        </details>
        <a href="/centro-de-distribuicao">Centro de Distribuição</a>
        <a href="/armazem-alfandegado">Armazém Alfandegado</a>
        <a href="/automotivo">Automotivo</a>

        <a href="/politicas">Políticas</a>
        <a href="/downloads">Arquivos</a>
        <div class="btn-DI" style="width: 85vw; text-align: center; margin:5px auto;">
            <p style="margin: auto; color:var(--color-orange);">Envio de DI</p>
        </div>
        <div class="btn-LR" style="width: 85vw; text-align: center; margin:5px auto;">
            <p style="margin: auto; color:var(--color-orange);">Solicitação de Carregamento</p>
        </div>
        <div class="btn-sara" style="width: 85vw; text-align: center; margin:5px auto;">
            <p style="margin: auto; color:var(--color-orange); text-decoration: none;">Portal Aduaneiro</p>
        </div>
    </div>
    <!-- Use any element to open the sidenav -->
    <!-- end navegação principal -->