<div class="buscanoticias" data-aos="fade-up">
    <h3 class="sidetitulo">Pesquisa</h3>
    <form action="{{ 'search' | page }}" method="get">
        <div class="input-group mb-3">
            <input class="form-control field_name" name="q" type="text" placeholder="Pesquisar" autocomplete="off">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"
                    style="border-radius: 0 0.375rem 0.375rem 0 !important; ">Pesquisar</button>
            </div>
        </div>
    </form>
</div>