<div class="sombra_alerta"></div>
        <div class="modal_alerta">
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <div style="width: 60px;" class="div_base"></div>
              <h1>COMUNICADO!</h1>
              <div 
    >
                  <h3 style="    margin-right: 10px;
    border: 1px solid #1c3243;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    "
                class="close_alerta">x</h3>
              </div>
          </div>
            <p>
            GDL Gestão de Desenvolvimento em Logística Participações S.A. (“GDL”) informa a todos os seus clientes, funcionários e colaboradores, que se encontra em processo de adequação à Lei Geral de Proteção de Dados (Lei 13.709/2018 – LGPD). 
Faz parte de nossa atuação garantir que os seus dados pessoais serão tratados em respeito aos princípios e diretrizes da Lei Geral de Proteção de Dados Pessoais (Lei 13.709/18). 
Garantimos a você, como titular de seus dados pessoais, os direitos previstos em nossa Política. Caso tenha dúvida sobre a forma de tratamento sobre os dados, entre em contato por meio do endereço de e-mail lgpd@gdllogistica.com.br.
            </p>
        </div>